# Ch3.4 Aggregation and Grouping

## Simple Aggregation in Pandas

In [1]:
import pandas as pd
import numpy as np

For Pandas ``Series``

In [2]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.rand(5))
ser

0    0.374540
1    0.950714
2    0.731994
3    0.598658
4    0.156019
dtype: float64

In [3]:
ser.sum()

2.811925491708157

In [4]:
ser.mean()

0.5623850983416314

For a ``DataFrame``, by default the aggregates return results within each column:

In [5]:
df = pd.DataFrame({'A': rng.rand(5),
                   'B': rng.rand(5)})
df

          A         B
0  0.155995  0.020584
1  0.058084  0.969910
2  0.866176  0.832443
3  0.601115  0.212339
4  0.708073  0.181825

In [6]:
df.mean()

A    0.477888
B    0.443420
dtype: float64

In [7]:
df.mean(axis='columns')

0    0.088290
1    0.513997
2    0.849309
3    0.406727
4    0.444949
dtype: float64

## Planets Data

In [8]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets.shape

(1035, 6)

In [9]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [10]:
planets.dropna().describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

## GroupBy

In [11]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)}, columns=['key', 'data'])
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [12]:
df.groupby('key')

In [13]:
df.groupby('key').sum()

     data
key
A       3
B       5
C       7

#### Column indexing

In [14]:
planets.groupby('method')

In [15]:
planets.groupby('method')['orbital_period']

no computation is done until we call some aggregate on the object:

In [16]:
planets.groupby('method')['orbital_period'].median()

method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64

In [17]:
planets.groupby('method').describe()

                              distance                                     \
                                 count         mean          std      min
method
Astrometry                         2.0    17.875000     4.094148    14.98
Eclipse Timing Variations          4.0   315.360000   213.203907   130.72
Imaging                           32.0    67.715937    53.736817     7.69
Microlensing                      10.0  4144.000000  2076.611556  1760.00
Orbital Brightness Modulation      2.0  1180.000000     0.000000  1180.00
Pulsar Timing                      1.0  1200.000000          NaN  1200.00
Pulsation Timing Variations        0.0          NaN          NaN      NaN
Radial Velocity                  530.0    51.600208    45.559381     1.35
Transit                          224.0   599.298080   913.876990    38.00
Transit Timing Variations          3.0  1104.333333   915.819487   339.00

                                                                         mass  \
                                     25%       50%        75%      max  count
method
Astrometry                       16.4275    17.875    19.3225    20.77    0.0
Eclipse Timing Variations       130.7200   315.360   500.0000   500.00    2.0
Imaging                          22.1450    40.395   132.6975   165.00    0.0
Microlensing                   2627.5000  3840.000  4747.5000  7720.00    0.0
Orbital Brightness Modulation  1180.0000  1180.000  1180.0000  1180.00    0.0
Pulsar Timing                  1200.0000  1200.000  1200.0000  1200.00    0.0
Pulsation Timing Variations          NaN       NaN        NaN      NaN    0.0
Radial Velocity                  24.4125    40.445    59.2175   354.00  510.0
Transit                         200.0000   341.000   650.0000  8500.00    1.0
Transit Timing Variations       597.0000   855.000  1487.0000  2119.00    0.0

                                          ...   orbital_period                 \
                                   mean   ...              75%            max
method                                    ...
Astrometry                          NaN   ...       823.590000    1016.000000
Eclipse Timing Variations      5.125000   ...      5767.000000   10220.000000
Imaging                             NaN   ...     94250.000000  730000.000000
Microlensing                        NaN   ...      3550.000000    5100.000000
Orbital Brightness Modulation       NaN   ...         0.943908       1.544929
Pulsar Timing                       NaN   ...        98.211400   36525.000000
Pulsation Timing Variations         NaN   ...      1170.000000    1170.000000
Radial Velocity                2.630699   ...       982.000000   17337.500000
Transit                        1.470000   ...        16.145700     331.600590
Transit Timing Variations           NaN   ...       108.505500     160.000000

                                year                                          \
                               count         mean       std     min      25%
method
Astrometry                       2.0  2011.500000  2.121320  2010.0  2010.75
Eclipse Timing Variations        9.0  2010.000000  1.414214  2008.0  2009.00
Imaging                         38.0  2009.131579  2.781901  2004.0  2008.00
Microlensing                    23.0  2009.782609  2.859697  2004.0  2008.00
Orbital Brightness Modulation    3.0  2011.666667  1.154701  2011.0  2011.00
Pulsar Timing                    5.0  1998.400000  8.384510  1992.0  1992.00
Pulsation Timing Variations      1.0  2007.000000       NaN  2007.0  2007.00
Radial Velocity                553.0  2007.518987  4.249052  1989.0  2005.00
Transit                        397.0  2011.236776  2.077867  2002.0  2010.00
Transit Timing Variations        4.0  2012.500000  1.290994  2011.0  2011.75


                                  50%      75%     max
method
Astrometry                     2011.5  2012.25  2013.0
Eclipse Timing Variations      2010.0  2011.00  2012.0
Imaging                        2009.0  2011.00  2013.0
Microlensing                   2010.0  2012.00  2013.0
Orbital Brightness Modulation  2011.0  2012.00  2013.0
Pulsar Timing                  1994.0  2003.00  2011.0
Pulsation Timing Variations    2007.0  2007.00  2007.0
Radial Velocity                2009.0  2011.00  2014.0
Transit                        2012.0  2013.00  2014.0
Transit Timing Variations      2012.5  2013.25  2014.0

[10 rows x 40 columns]