In [4]:
import pandas as pd 
import numpy as np

In [7]:
date1 = ['2016-01-04','2018-05-08','2003-11-30']
date1 = pd.to_datetime(date1)
print(date1)

DatetimeIndex(['2016-01-04', '2018-05-08', '2003-11-30'], dtype='datetime64[ns]', freq=None)

In [12]:
df1 = pd.DataFrame(np.random.randn(3,4),index=date1,columns=list('ABCD'))
print(df1)

                   A         B         C         D
2016-01-04  1.475818 -1.282536 -0.131248 -0.934737
2018-05-08 -1.786832  0.007683  0.641750 -0.804288
2003-11-30  0.103087 -0.019559  1.309940  0.508478

In [21]:
pd.read_table('output1.csv',sep='\t',header=None,names=None)

                                                   0
0                                                 id
1                                               name
2                                                age
3                                             gender
4  (,2,",", ,',J,i,m,',",", ,2,2,",", ,',m,a,l,e,',)
5  (,1,",", ,',T,i,m,',",", ,4,5,",", ,',m,a,l,e,',)
6  (,7,",", ,',K,i,m,',",", ,5,8,",", ,',m,a,l,e,',)

In [41]:
df2 = pd.read_csv('MI_5MINS.csv',sep=',',encoding='cp950')
print(df2)

SyntaxError: invalid syntax (<ipython-input-41-c8fd4443e32b>, line 1)

In [29]:
df2.head(3)

                                                                        107年08月24日每5秒委託成交統計
時間          累積委託買進筆數 累積委託買進數量  累積委託賣出筆數 累積委託賣出數量  累積成交筆數 累積成交數量 累積成交金額                  NaN
="09:00:00" 172,222  2,887,096 171,512  1,079,843 0      0      0                       NaN
="09:00:05" 173,884  2,894,446 172,874  1,081,783 7,020  24,378 1,354                   NaN

In [32]:
df2.tail(10)

                                                                                                           107年08月24日每5秒委託成交統計
13:29:55                                4,251,354 10,409,648 4,908,080 7,352,480 767,062 4,108,681 90,791                  NaN
13:30:00                                4,252,887 10,422,021 4,909,413 7,370,935 798,671 4,229,072 96,246                  NaN
說明:                                     NaN       NaN        NaN       NaN       NaN     NaN       NaN                     NaN
以上資訊不含零股、鉅額、盤後定價、拍賣及標購。                 NaN       NaN        NaN       NaN       NaN     NaN       NaN                     NaN
以上為「整體市場」資訊，為股票、基金、認購權證、認售權證及其他有價證券之合計。 NaN       NaN        NaN       NaN       NaN     NaN       NaN                     NaN
除境外指數股票型基金及外國股票第二上市外，餘交易單位皆為千股。         NaN       NaN        NaN       NaN       NaN     NaN       NaN                     NaN
民國100年1月16日以前，資料為每一分鐘方式提供。              NaN       NaN        NaN       NaN       NaN     NaN       NaN                     NaN
民國103年2月23日以前，資料為每15秒方式提供。              NaN       NaN        NaN       NaN       NaN     NaN       NaN                     NaN
民國103年2月24日以後，資料為每10秒方式提供。              NaN       NaN        NaN       NaN       NaN     NaN       NaN                     NaN
民國103年12月29日以後，資料為每5秒方式提供。              NaN       NaN        NaN       NaN       NaN     NaN       NaN                     NaN

In [43]:
df1.values

array([[ 1.47581832, -1.28253615, -0.13124803, -0.93473705],
       [-1.78683186,  0.00768338,  0.64174998, -0.80428754],
       [ 0.10308721, -0.01955852,  1.30994002,  0.50847806]])

In [45]:
df1.index

DatetimeIndex(['2016-01-04', '2018-05-08', '2003-11-30'], dtype='datetime64[ns]', freq=None)

In [46]:
df1.describe()

              A         B         C         D
count  3.000000  3.000000  3.000000  3.000000
mean  -0.069309 -0.431470  0.606814 -0.410182
std    1.638143  0.737170  0.721229  0.798252
min   -1.786832 -1.282536 -0.131248 -0.934737
25%   -0.841872 -0.651047  0.255251 -0.869512
50%    0.103087 -0.019559  0.641750 -0.804288
75%    0.789453 -0.005938  0.975845 -0.147905
max    1.475818  0.007683  1.309940  0.508478

In [56]:
print(df1[1:3])
print()

print(df1[['A','C']])
print()

print(df1[['A','C']][1:3])

                   A         B        C         D
2018-05-08 -1.786832  0.007683  0.64175 -0.804288
2003-11-30  0.103087 -0.019559  1.30994  0.508478

                   A         C
2016-01-04  1.475818 -0.131248
2018-05-08 -1.786832  0.641750
2003-11-30  0.103087  1.309940

                   A        C
2018-05-08 -1.786832  0.64175
2003-11-30  0.103087  1.30994

In [58]:
df1[df1['A']>0]

                   A         B         C         D
2016-01-04  1.475818 -1.282536 -0.131248 -0.934737
2003-11-30  0.103087 -0.019559  1.309940  0.508478

In [73]:
 # df1.loc[row_indwex,column_index]

print(df1.loc[:,'A'])  
print()

print(df1.loc[:,'A':'B'])
print()

AA = df1.loc[date1[:2],'A':'B']
print(AA)
print(AA.loc[date1[0],'A'])
print()

print(df1.at[date1[0],'A'])

2016-01-04    1.475818
2018-05-08   -1.786832
2003-11-30    0.103087
Name: A, dtype: float64

                   A         B
2016-01-04  1.475818 -1.282536
2018-05-08 -1.786832  0.007683
2003-11-30  0.103087 -0.019559

                   A         B
2016-01-04  1.475818 -1.282536
2018-05-08 -1.786832  0.007683
1.475818318585786

1.475818318585786

In [74]:
# df1.iloc[row_index,column_index]

print(df1.iloc[2,3])
print()

print(df1.iloc[[0,2],[1,3]])
print()

0.5084780575431417

                   B         D
2016-01-04 -1.282536 -0.934737
2003-11-30 -0.019559  0.508478

In [89]:
print(df1.ix[[0,2],2])
print()

print(df1.ix[0:2,['A','C']])
print()

print(df1.ix[0:2,df1.iloc[2]>0])

2016-01-04   -0.131248
2003-11-30    1.309940
Name: C, dtype: float64

                   A         C
2016-01-04  1.475818 -0.131248
2018-05-08 -1.786832  0.641750

                   A         C         D
2016-01-04  1.475818 -0.131248 -0.934737
2018-05-08 -1.786832  0.641750 -0.804288

In [92]:
# transpose
print(df1.transpose())
print()

print(df1.T)
print()

   2016-01-04  2018-05-08  2003-11-30
A    1.475818   -1.786832    0.103087
B   -1.282536    0.007683   -0.019559
C   -0.131248    0.641750    1.309940
D   -0.934737   -0.804288    0.508478

   2016-01-04  2018-05-08  2003-11-30
A    1.475818   -1.786832    0.103087
B   -1.282536    0.007683   -0.019559
C   -0.131248    0.641750    1.309940
D   -0.934737   -0.804288    0.508478

In [103]:
# sort
print(df1,'\n')

print(df1.sort_values(by='A',axis=0,ascending=True),'\n')

print(df1.sort_values(by=['A','C']),'\n')

print(df1.sort_values(by=list(df1.index),axis=1,ascending=False))

                   A         B         C         D
date
2016-01-04  1.475818 -1.282536 -0.131248 -0.934737
2018-05-08 -1.786832  0.007683  0.641750 -0.804288
2003-11-30  0.103087 -0.019559  1.309940  0.508478

                   A         B         C         D
date
2018-05-08 -1.786832  0.007683  0.641750 -0.804288
2003-11-30  0.103087 -0.019559  1.309940  0.508478
2016-01-04  1.475818 -1.282536 -0.131248 -0.934737

                   A         B         C         D
date
2018-05-08 -1.786832  0.007683  0.641750 -0.804288
2003-11-30  0.103087 -0.019559  1.309940  0.508478
2016-01-04  1.475818 -1.282536 -0.131248 -0.934737

                   A         C         D         B
date
2016-01-04  1.475818 -0.131248 -0.934737 -1.282536
2018-05-08 -1.786832  0.641750 -0.804288  0.007683
2003-11-30  0.103087  1.309940  0.508478 -0.019559

In [99]:
print(df1.index,'\n')

df1.index.name = 'date'
print(df1)

DatetimeIndex(['2016-01-04', '2018-05-08', '2003-11-30'], dtype='datetime64[ns]', name='date', freq=None)

                   A         B         C         D
date
2016-01-04  1.475818 -1.282536 -0.131248 -0.934737
2018-05-08 -1.786832  0.007683  0.641750 -0.804288
2003-11-30  0.103087 -0.019559  1.309940  0.508478