In [1]:
import gc
gc.collect()

5

In [2]:
# create a session and name it, that's how we start 
from pyspark.sql import SparkSession 
sqlContext = SparkSession.builder.appName('yolo').getOrCreate()

In [3]:
# read csv to spark dataframe and define its schema
from pyspark.sql.types import StructType, StructField, IntegerType
import time
path = "C:/Users/Student/Desktop/WorkSpace/Tmall/data_format1/user_log_format1.csv"
schema = StructType([StructField('user_id', IntegerType(), True),
                     StructField('item_id', IntegerType(), True),
                     StructField('cat_id', IntegerType(), True),
                     StructField('seller_id', IntegerType(), True),
                     StructField('brand_id', IntegerType(), True),
                     StructField('time_stamp', IntegerType(), True),
                     StructField('action_type', IntegerType(), True)])

s = time.time()
df = sqlContext.read.csv(path, sep = ',', header = True, inferSchema = True, schema = schema)
print("read csv cost time:", time.time()-s)

read csv cost time: 3.280949831008911

In [4]:
df.show(5)

+-------+-------+------+---------+--------+----------+-----------+
|user_id|item_id|cat_id|seller_id|brand_id|time_stamp|action_type|
+-------+-------+------+---------+--------+----------+-----------+
| 328862| 323294|   833|     2882|    2661|       829|          0|
| 328862| 844400|  1271|     2882|    2661|       829|          0|
| 328862| 575153|  1271|     2882|    2661|       829|          0|
| 328862| 996875|  1271|     2882|    2661|       829|          0|
| 328862|1086186|  1271|     1253|    1049|       829|          0|
+-------+-------+------+---------+--------+----------+-----------+
only showing top 5 rows

In [5]:
df.head()

Row(user_id=328862, item_id=323294, cat_id=833, seller_id=2882, brand_id=2661, time_stamp=829, action_type=0)

In [6]:
df.printSchema()

root
 |-- user_id: integer (nullable = true)
 |-- item_id: integer (nullable = true)
 |-- cat_id: integer (nullable = true)
 |-- seller_id: integer (nullable = true)
 |-- brand_id: integer (nullable = true)
 |-- time_stamp: integer (nullable = true)
 |-- action_type: integer (nullable = true)

In [12]:
# make df become a temp table, that we can use sql command to control it
df.registerTempTable('log2')

In [13]:
# use sql command
sqlContext.sql('select count("user") from log2').show()

+-----------+
|count(user)|
+-----------+
|   54925330|
+-----------+

In [17]:
sqlContext.sql('''
            select brand _id 
            from log2
            ''').show()

+--------+
|brand_id|
+--------+
|    2661|
|    2661|
|    2661|
|    2661|
|    1049|
|    2661|
|    2661|
|    1647|
|    2661|
|    2661|
|    4953|
|    7622|
|    4953|
|    7622|
|    4953|
|    4953|
|    1446|
|     883|
|    1446|
|    7622|
+--------+
only showing top 20 rows

In [16]:
sqlContext.sql('select * from log2 LIMIT 5').show()

+-------+-------+------+---------+--------+----------+-----------+
|user_id|item_id|cat_id|seller_id|brand_id|time_stamp|action_type|
+-------+-------+------+---------+--------+----------+-----------+
| 328862| 323294|   833|     2882|    2661|       829|          0|
| 328862| 844400|  1271|     2882|    2661|       829|          0|
| 328862| 575153|  1271|     2882|    2661|       829|          0|
| 328862| 996875|  1271|     2882|    2661|       829|          0|
| 328862|1086186|  1271|     1253|    1049|       829|          0|
+-------+-------+------+---------+--------+----------+-----------+