In [1]:
import pandas as pd
import numpy as np

# creat 2 tables to debo
df1 = pd.DataFrame(np.arange(1,13).reshape(3,4),index=list('abc'),columns=list('ABCD'))
df2 = pd.DataFrame(np.arange(1,13).reshape(4,3),index=list('bcde'),columns=list('CDE'))

print(df1, '\n'*2, df2)

   A   B   C   D
a  1   2   3   4
b  5   6   7   8
c  9  10  11  12

     C   D   E
b   1   2   3
c   4   5   6
d   7   8   9
e  10  11  12

In [2]:
# join 2 tables together and fill it with zero
df3 = df1.mul(df2,fill_value=0)
print(df3,'\n')

print(df3.isnull(),'\n')
print(df3.notnull(),'\n')

print(df3.B[df3.B.notnull()],'\n')

     A    B     C     D    E
a  0.0  0.0   0.0   0.0  NaN
b  0.0  0.0   7.0  16.0  0.0
c  0.0  0.0  44.0  60.0  0.0
d  NaN  NaN   0.0   0.0  0.0
e  NaN  NaN   0.0   0.0  0.0

       A      B      C      D      E
a  False  False  False  False   True
b  False  False  False  False  False
c  False  False  False  False  False
d   True   True  False  False  False
e   True   True  False  False  False

       A      B     C     D      E
a   True   True  True  True  False
b   True   True  True  True   True
c   True   True  True  True   True
d  False  False  True  True   True
e  False  False  True  True   True

a    0.0
b    0.0
c    0.0
Name: B, dtype: float64

In [3]:
# fill NaN with numbera

print(df3.fillna(0),'\n')

print(df3.fillna(method='ffill'),'\n')  # use the same column's number before  
print(df3.fillna(method='bfill'),'\n')  # use the same column's number after  

print(df3.fillna(method='backfill',axis=1),'\n')  # use the sam row's number after

print(df3.fillna(method='pad',limit=2),'\n')

print(df3.fillna('missing',inplace=False))

     A    B     C     D    E
a  0.0  0.0   0.0   0.0  0.0
b  0.0  0.0   7.0  16.0  0.0
c  0.0  0.0  44.0  60.0  0.0
d  0.0  0.0   0.0   0.0  0.0
e  0.0  0.0   0.0   0.0  0.0

     A    B     C     D    E
a  0.0  0.0   0.0   0.0  NaN
b  0.0  0.0   7.0  16.0  0.0
c  0.0  0.0  44.0  60.0  0.0
d  0.0  0.0   0.0   0.0  0.0
e  0.0  0.0   0.0   0.0  0.0

     A    B     C     D    E
a  0.0  0.0   0.0   0.0  0.0
b  0.0  0.0   7.0  16.0  0.0
c  0.0  0.0  44.0  60.0  0.0
d  NaN  NaN   0.0   0.0  0.0
e  NaN  NaN   0.0   0.0  0.0

     A    B     C     D    E
a  0.0  0.0   0.0   0.0  NaN
b  0.0  0.0   7.0  16.0  0.0
c  0.0  0.0  44.0  60.0  0.0
d  0.0  0.0   0.0   0.0  0.0
e  0.0  0.0   0.0   0.0  0.0

     A    B     C     D    E
a  0.0  0.0   0.0   0.0  NaN
b  0.0  0.0   7.0  16.0  0.0
c  0.0  0.0  44.0  60.0  0.0
d  0.0  0.0   0.0   0.0  0.0
e  0.0  0.0   0.0   0.0  0.0

         A        B     C     D        E
a        0        0   0.0   0.0  missing
b        0        0   7.0  16.0        0
c        0        0  44.0  60.0        0
d  missing  missing   0.0   0.0        0
e  missing  missing   0.0   0.0        0

In [6]:
# drop NaN

print(df3.dropna(axis=0),'\n')
print(df3.dropna(axis=1),'\n')

print(df3.dropna(axis=1,how='all'),'\n')  # to drop if there is all NaN
print(df3.dropna(axis=1,how='any'),'\n')  # to drop if there has a NaN

print(df3.dropna(axis=1,thresh=2),'\n')  # to drop if their number of NaN is greater then setting
print(df3.dropna(axis=1,thresh=1),'\n')

     A    B     C     D    E
b  0.0  0.0   7.0  16.0  0.0
c  0.0  0.0  44.0  60.0  0.0

      C     D
a   0.0   0.0
b   7.0  16.0
c  44.0  60.0
d   0.0   0.0
e   0.0   0.0

     A    B     C     D    E
a  0.0  0.0   0.0   0.0  NaN
b  0.0  0.0   7.0  16.0  0.0
c  0.0  0.0  44.0  60.0  0.0
d  NaN  NaN   0.0   0.0  0.0
e  NaN  NaN   0.0   0.0  0.0

      C     D
a   0.0   0.0
b   7.0  16.0
c  44.0  60.0
d   0.0   0.0
e   0.0   0.0

     A    B     C     D    E
a  0.0  0.0   0.0   0.0  NaN
b  0.0  0.0   7.0  16.0  0.0
c  0.0  0.0  44.0  60.0  0.0
d  NaN  NaN   0.0   0.0  0.0
e  NaN  NaN   0.0   0.0  0.0

     A    B     C     D    E
a  0.0  0.0   0.0   0.0  NaN
b  0.0  0.0   7.0  16.0  0.0
c  0.0  0.0  44.0  60.0  0.0
d  NaN  NaN   0.0   0.0  0.0
e  NaN  NaN   0.0   0.0  0.0

In [12]:
# delete same data

df4 = pd.DataFrame({'c1':['apple']*3+['banana']*3+['apple'],'c2':['a','a',3,3,'b','b','a']})
print(df4,'\n')

print(df4.duplicated(),'\n')
print(df4.drop_duplicates(),'\n')

print(df4.duplicated(['c2']),'\n')
print(df4.drop_duplicates(['c2']),'\n')

       c1 c2
0   apple  a
1   apple  a
2   apple  3
3  banana  3
4  banana  b
5  banana  b
6   apple  a

0    False
1     True
2    False
3    False
4    False
5     True
6     True
dtype: bool

       c1 c2
0   apple  a
2   apple  3
3  banana  3
4  banana  b

0    False
1     True
2    False
3     True
4    False
5     True
6     True
dtype: bool

       c1 c2
0   apple  a
2   apple  3
4  banana  b