In [1]:
import pandas as pd
# import numpy as np

In [4]:
data=pd.read_csv('EF05M01.csv')
print(data)

          期間 短期票券市場-當期交易金額-原始值 股票市場-總市值-原始值 股票市場-當期成交金額-原始值
0    1961M07                 -            -               -
1    1961M08                 -            -               -
2    1961M09                 -            -               -
3    1961M10                 -            -               -
4    1961M11                 -            -               -
5    1961M12                 -            -               -
6    1962M01                 -            -               -
7    1962M02                 -            -               -
8    1962M03                 -            -               1
9    1962M04                 -            -               1
10   1962M05                 -            -               1
11   1962M06                 -            -               1
12   1962M07                 -            -               -
13   1962M08                 -            -               -
14   1962M09                 -            -               -
15   1962M10                 -            -               -
16   1962M11                 -            -               -
17   1962M12                 -           68               -
18   1963M01                 -            -               1
19   1963M02                 -            -               1
20   1963M03                 -            -               1
21   1963M04                 -            -               2
22   1963M05                 -            -               3
23   1963M06                 -            -               1
24   1963M07                 -            -               5
25   1963M08                 -            -               8
26   1963M09                 -            -               9
27   1963M10                 -            -              10
28   1963M11                 -            -              34
29   1963M12                 -          194              23
..       ...               ...          ...             ...
654  2016M01            32,285      239,640          15,036
655  2016M02            22,749      247,580           9,544
656  2016M03            32,690      257,272          18,746
657  2016M04            28,846      246,286          13,045
658  2016M05            29,870      251,412          14,003
659  2016M06            28,275      255,284          13,667
660  2016M07            32,124      264,759          15,457
661  2016M08            30,830      267,369          15,981
662  2016M09            28,069      270,457          12,995
663  2016M10            31,761      274,668          12,064
664  2016M11            31,108      273,542          14,754
665  2016M12            26,952      272,479          12,419
666  2017M01            28,569      278,909          10,335
667  2017M02            28,271      288,426          17,738
668  2017M03            34,333      290,575          19,715
669  2017M04            29,503      292,461          15,152
670  2017M05            31,168      297,678          16,822
671  2017M06            29,791      308,412          20,124
672  2017M07            32,744      309,514          18,830
673  2017M08            34,651      314,735          24,178
674  2017M09            31,309      309,425          25,141
675  2017M10            32,069      321,860          21,564
676  2017M11            33,668      315,553          27,281
677  2017M12            31,780      318,319          22,843
678  2018M01            36,420      332,773          28,049
679  2018M02            26,560      324,341          16,510
680  2018M03            38,710      327,485          26,051
681  2018M04            35,366      318,728          22,402
682  2018M05            37,298      325,276          29,065
683  2018M06            33,921      324,369          30,022

[684 rows x 4 columns]

In [5]:
data.to_pickle('EF05M01.pickle')