# Ch3. Python Operators

### Arithmetic Operators

In [1]:
x = 15
y = 4

In [2]:
x+y, x-y, x*y, x/y, x//y, x**y

(19, 11, 60, 3.75, 3, 50625)

### Relational Operators

In [4]:
x = 10
y = 12

In [5]:
x>y, x<y, x==y, x!=y, x>=y, x<=y

(False, True, False, True, False, True)

### Assignment Operators

In [6]:
a = 21
b = 10
c = 0

In [7]:
c = a + b
print ("Line 1 - Value of c is ", c)

c += a
print ("Line 2 - Value of c is ", c )

c *= a
print ("Line 3 - Value of c is ", c )

c /= a 
print ("Line 4 - Value of c is ", c )

c  = 2
c %= a
print ("Line 5 - Value of c is ", c)

c **= a
print ("Line 6 - Value of c is ", c)

c //= a
print ("Line 7 - Value of c is ", c)

Line 1 - Value of c is  31
Line 2 - Value of c is  52
Line 3 - Value of c is  1092
Line 4 - Value of c is  52.0
Line 5 - Value of c is  2
Line 6 - Value of c is  2097152
Line 7 - Value of c is  99864

### Logical Operators

In [9]:
x = True
y = False

In [10]:
x and y, x or y, not x

(False, True, False)

In [11]:
x = 12
y = 0

In [12]:
x and y, x or y, not x

(0, 12, False)

### Membership Operators

In [13]:
a = 10
b = 20
list = [1, 2, 3, 4, 5 ]

In [14]:
a in list, b not in list

(False, True)

In [15]:
c=b/a
c in list

True

### Identity Operators

In [24]:
a = 20
b = 20

In [25]:
a, id(a), b, id(b)

(20, 1876455488, 20, 1876455488)

In [26]:
a is b

True

In [27]:
id(a) == id(b)

True

In [28]:
b = 30
a, id(a), b, id(b)

(20, 1876455488, 30, 1876455808)

In [29]:
a is not b

True

In [30]:
id(a) == id(b)

False