# Ch4. Basic Syntax2

### String Format

In [1]:
x, y, z = 10, 20, 30

In [2]:
"Y= {1} X={0} Z={2}".format(x, y, z)

'Y= 20 X=10 Z=30'

In [3]:
"Y= {a} X={b} Z={c}".format(b=x, a=y, c=z)

'Y= 20 X=10 Z=30'

In [4]:
print("Integer: {0:5d}".format(123))
print("Integer: {0:05d}".format(123))
print("Float: {0:6.3f}".format(123.45678))
print("Binary: {0:b}".format(100))
print("Octal: {0:o}".format(100))
print("Hex: {0:x}".format(100))

Integer:   123
Integer: 00123
Float: 123.457
Binary: 1100100
Octal: 144
Hex: 64

## Lists

### List is Mutable, Ordered

In [5]:
lst = ['physics', 'chemistry', 1997, 2000]

In [6]:
lst[2]

1997

In [7]:
lst[2] = 2001
lst[2]

2001

In [8]:
lst

['physics', 'chemistry', 2001, 2000]

In [9]:
del lst[2]
lst

['physics', 'chemistry', 2000]

In [10]:
len(lst)

3

### Create Lists

In [12]:
# list
# create list
list1 = []
list2 = [1, 2, 3, 4, 5]
list3 = [1, 'Hello', 3.5]
list4 = list()
list5 = list(["tom", "mary", "joe"])
list6 = list("python")

# create nested list 
list7 = [1, ["tom", "mary", "joe"], [1, 3, 5]]

# output list items 
print(list1)
print(list2)
print("list3 =",list3)
print(list4)
print(list5)
print("list6 =",list6)
print("list7 =",list7)

[]
[1, 2, 3, 4, 5]
list3 = [1, 'Hello', 3.5]
[]
['tom', 'mary', 'joe']
list6 = ['p', 'y', 't', 'h', 'o', 'n']
list7 = [1, ['tom', 'mary', 'joe'], [1, 3, 5]]

### Indexing

In [15]:
# list
# using index
list1 = [1, 2, 3, 4, 5, 6]
print(list1[0])
print(list1[1])
print(list1[-1])
print(list1[-2])
list1[1] = 10
print(list1)

1
2
6
5
[1, 10, 3, 4, 5, 6]

### Slicing

In [20]:
# list slicing
list1 = list('Hello World!')
print("list1 = " + str(list1))
s = list1[1:3]
print("list1[1:3] =",s)
s = list1[1:5]
print("list1[1:5] =",s)
s = list1[:7]
print("list1[:7] =",s)
s = list1[4:]
print("list1[4:] =",s)
s = list1[1:-1]
print("list1[1:-1] =",s)
s = list1[6:-2]
print("list1[6:-2] =",s)

list1 = ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']
list1[1:3] = ['e', 'l']
list1[1:5] = ['e', 'l', 'l', 'o']
list1[:7] = ['H', 'e', 'l', 'l', 'o', ' ', 'W']
list1[4:] = ['o', ' ', 'W', 'o', 'r', 'l', 'd', '!']
list1[1:-1] = ['e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
list1[6:-2] = ['W', 'o', 'r', 'l']

In [21]:
# list
list1 = [2, 4, 6, 8]

In [22]:
# Modify items
list1[1:4] = [3, 5, 7]
list1

[2, 3, 5, 7]

In [23]:
# Insert items
list1[2:2] = [1, 9]
list1

[2, 3, 1, 9, 5, 7]

In [24]:
# delete items
list1[2:3] = []
list1

[2, 3, 9, 5, 7]

### List Operators

In [26]:
list1 = [2, 4]
list2 = [6, 8, 10]

In [27]:
# Concatenation
list3 = list1 + list2
list3

[2, 4, 6, 8, 10]

In [29]:
# Repetition
list4 = list1 * 3
list4

[2, 4, 2, 4, 2, 4]

In [30]:
# Member
8 in list2, 2 not in list1

(True, False)

### List Methods

In [1]:
list1 = [4, 2, 8, 9, 1, 8]

In [3]:
s = list1.count(8)
print("list1.count(8) =",s)
s = list1.index(8)
print("list1.index(8) =",s)
s = list1.index(1)
print("list1.index(1) =",s)
list1.sort()
print("list1.sort() =",list1)
list1.reverse()
print("list1.reverse() =",list1)

list1.count(8) = 2
list1.index(8) = 1
list1.index(1) = 5
list1.sort() = [1, 2, 4, 8, 8, 9]
list1.reverse() = [9, 8, 8, 4, 2, 1]

In [4]:
list1 = [1, 5]

In [5]:
# append new item
list1.append(7)
print("list1.append(7) =",list1)
list1.extend([9, 11, 13])
print("list1.extend([9,11,13]) =",list1)

# insert new item
list1.insert(1, 3)
print("list1.insert(1,3) =",list1)

# delete item
del list1[2]
print("del list1[2] =",list1)
e1 = list1.pop()
print("e1 = list1.pop() =",list1)
print("e1 =",e1)
e2 = list1.pop(1)
print("e2 = list1.pop(1) =",list1)
print("e2 =",e2)
list1.remove(9)
print("list1.remove(9) =",list1)

list1.append(7) = [1, 5, 7]
list1.extend([9,11,13]) = [1, 5, 7, 9, 11, 13]
list1.insert(1,3) = [1, 3, 5, 7, 9, 11, 13]
del list1[2] = [1, 3, 7, 9, 11, 13]
e1 = list1.pop() = [1, 3, 7, 9, 11]
e1 = 13
e2 = list1.pop(1) = [1, 7, 9, 11]
e2 = 3
list1.remove(9) = [1, 7, 11]

## Tuples

### Create Tuples

In [6]:
# tuple
# create tuple
t1 = ()
t2 = (1, 2, 3, 4, 5)
t3 = (1, 'Hello', 3.5)
t4 = tuple()
t5 = tuple(["tom", "mary", "joe"])
t6 = tuple("python")

# print items
print(t1)
print(t2)
print("t3 =",t3)
print(t4)
print(t5)
print("t6 =",t6)

()
(1, 2, 3, 4, 5)
t3 = (1, 'Hello', 3.5)
()
('tom', 'mary', 'joe')
t6 = ('p', 'y', 't', 'h', 'o', 'n')

### Indexing

In [7]:
# tuple
# using index
t1 = (1, 2, 3, 4, 5, 6)
print(t1[0])
print(t1[1])
print(t1[-1])
print(t1[-2])

1
2
6
5

### Slicing

In [8]:
t1 = tuple('Hello World!')
print("t1 =",t1)
s = t1[1:3]
print("t1[1:3] =",s)
s = t1[1:5]
print("t1[1:5] =",s)
s = t1[:7]
print("t1[:7] =",s)
s = t1[4:]
print("t1[4:] =",s)
s = t1[1:-1]
print("t1[1:-1] =",s)
s = t1[6:-2]
print("t1[6:-2] =",s)

t1 = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')
t1[1:3] = ('e', 'l')
t1[1:5] = ('e', 'l', 'l', 'o')
t1[:7] = ('H', 'e', 'l', 'l', 'o', ' ', 'W')
t1[4:] = ('o', ' ', 'W', 'o', 'r', 'l', 'd', '!')
t1[1:-1] = ('e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')
t1[6:-2] = ('W', 'o', 'r', 'l')

### Tuple Operators

In [9]:
# tuple
# Concatenation
t1 = (2, 4)
t2 = (6, 8, 10)
print("t1 =",t1)
print("t2 =",t2)
t3 = t1 + t2
print("t3=t1+t2 =",t3)

t1 = (2, 4)
t2 = (6, 8, 10)
t3=t1+t2 = (2, 4, 6, 8, 10)

In [10]:
# Repetition
t4 = t1 * 3
print("t4=t1*3 =",t4)

t4=t1*3 = (2, 4, 2, 4, 2, 4)

In [11]:
# Member
print(8 in t2)
print(2 not in t1)

True
False

## Dictionary

### Create Dictionary

In [12]:
# dictionary
# create
d1 = {}
d2 = {1: 'apple', 2: 'ball'}
d3 = {
      "name": "tom",
      1: [1, 3, 5]
     }
d4 = dict()
d5 = dict([(1,"tom"), (2,"mary"), (3, "joe")])

# print item
print(d1)
print(d2)
print("d3 =",d3)
print(d4)
print(d5)

{}
{1: 'apple', 2: 'ball'}
d3 = {'name': 'tom', 1: [1, 3, 5]}
{}
{1: 'tom', 2: 'mary', 3: 'joe'}

### Mutable

In [14]:
# dictionary
# get value
d1 = {
      "name": "tom",
      "age": 20,
      1: [1, 3, 5]
     }
print("d1 =",d1)     
print(d1["name"])
print(d1["age"])
print(d1[1])

d1 = {'name': 'tom', 'age': 20, 1: [1, 3, 5]}
tom
20
[1, 3, 5]

In [17]:
# chage value
d1["age"] = 21
d1

{1: [1, 3, 5], 'address': 'Taipei', 'age': 21, 'name': 'tom'}

In [18]:
# add item
d1["address"] = "Taipei"
d1

{1: [1, 3, 5], 'address': 'Taipei', 'age': 21, 'name': 'tom'}

### Dictionary Operators

In [19]:
d1 = {"tom":30, "bobe":3}
print("d1 =",d1)
d2 = {"bobe":3, "tom":30}
print("d2 =",d2)

d1 = {'tom': 30, 'bobe': 3}
d2 = {'bobe': 3, 'tom': 30}

In [20]:
# Member
print("tom" in d1)       # True
print("tom" not in d1)   # False

True
False

In [21]:
# Relational
print(d1 == d2)  # True
print(d1 != d2)  # False

True
False

### Using Functions

In [23]:
# dictionary
d1=dict([(1,"tom"), (2,"mary"), (3, "joe")])
d1

{1: 'tom', 2: 'mary', 3: 'joe'}

In [24]:
len(d1)

3

In [25]:
d3 = sorted(d1)
d3

[1, 2, 3]

### Dictionary Methods

In [26]:
# dictionary
d1 = {"tom":"02-11111111",
      "bob":"02-22222222",
      "mike":"02-33333333"}
d1

{'bob': '02-22222222', 'mike': '02-33333333', 'tom': '02-11111111'}

In [27]:
i = d1.get("tom")
print("d1.get('tom') =",i)

i = d1.get("mary", "NA")
print("d1.get('mary', 'NA') =",i)

t1 = d1.keys()
print("d1.keys() =",t1)
list1 = list(t1)
for i in list1:
    print(i, end=" ")
print()

t1 = d1.values()
print("d1.values() =",t1)
list1 = list(t1)
for i in list1:
    print(i, end=" ")

d1.get('tom') = 02-11111111
d1.get('mary', 'NA') = NA
d1.keys() = dict_keys(['tom', 'bob', 'mike'])
tom bob mike
d1.values() = dict_values(['02-11111111', '02-22222222', '02-33333333'])
02-11111111 02-22222222 02-33333333

In [28]:
# dictionary
d1 = {1:1, 2:4, "name":"tom", "age":20, 5:22}
d1

{1: 1, 2: 4, 5: 22, 'age': 20, 'name': 'tom'}

In [29]:
# use del keyword
del d1[2]
print("del d1[2] =",d1)
del d1["age"]
print("del d1['age'] =",d1)

# pop(): remove/return specific item
e1 = d1.pop(5)
print("e1 = d1.pop(5) =",d1)
print("e1 =",e1)

# popitem(): remove/return any item
e2 = d1.popitem()
print("e2 = d1.popitem() =",d1)
print("e2 =",e2)

# clear(): remove all items
d1.clear()
print("d1 =",d1)

del d1[2] = {1: 1, 'name': 'tom', 'age': 20, 5: 22}
del d1['age'] = {1: 1, 'name': 'tom', 5: 22}
e1 = d1.pop(5) = {1: 1, 'name': 'tom'}
e1 = 22
e2 = d1.popitem() = {1: 1}
e2 = ('name', 'tom')
d1 = {}

## Sets

### Create Sets

In [30]:
# set
# create
s1 = {1, 2, 3}
s2 = {1, 'Hello', 3.5}
s3 = set()
s4 = set(["tom", "mary", "joe"])
s5 = set("Python")

# print items
print(s1)
print("s2 =",s2)
print("s3 =",s3)
print("s4 =",s4)
print("s5 =",s5)

{1, 2, 3}
s2 = {3.5, 1, 'Hello'}
s3 = set()
s4 = {'joe', 'tom', 'mary'}
s5 = {'y', 'P', 'o', 'n', 't', 'h'}

### Set Operators

In [31]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print("A =",A)
print("B =",B)

A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [32]:
# intersection
C = A & B
print("A & B =",C)
C = A.intersection(B)
print("A.intersection(B) =",C)

A & B = {4, 5}
A.intersection(B) = {4, 5}

In [33]:
# union 
C = A | B
print("A | B =",C)
C = A.union(B)
print("A.union(B) =",C)

A | B = {1, 2, 3, 4, 5, 6, 7, 8}
A.union(B) = {1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
# difference
C = A - B
print("A - B =",C)
C = A.difference(B)
print("A.difference(B) =",C)

A - B = {1, 2, 3}
A.difference(B) = {1, 2, 3}

In [35]:
# symmetric difference
C = A ^ B
print("A ^ B =",C)
C = A.symmetric_difference(B)
print("A.symmetric_difference(B) =",C)

A ^ B = {1, 2, 3, 6, 7, 8}
A.symmetric_difference(B) = {1, 2, 3, 6, 7, 8}

In [36]:
# member
s1 = {"tom", "bob", "joe"}
print("tom" in s1)
print("tom" not in s1)

True
False

### Set Methods

In [37]:
s1 = {1, 5}
s1

{1, 5}

In [38]:
# add item
s1.add(7)
print("s1.add(7) =",s1)
s1.update([9, 11, 13])
print("s1.update([9,11,13]) =",s1)
s1.update([2, 3], {4, 6, 10})
print("s1.update([2,3],{4,6,10}) =",s1)

s1.add(7) = {1, 5, 7}
s1.update([9,11,13]) = {1, 5, 7, 9, 11, 13}
s1.update([2,3],{4,6,10}) = {1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13}

In [39]:
# remove item
s1.discard(2)
print("s1.discard(2) =",s1)
s1.remove(6)
print("s1.remove(6) =",s1)
e1 = s1.pop()
print("e1 = s1.pop() =",s1)
print("e1 =",e1)
s1.clear()
print("s1.clear()=",s1)

s1.discard(2) = {1, 3, 4, 5, 6, 7, 9, 10, 11, 13}
s1.remove(6) = {1, 3, 4, 5, 7, 9, 10, 11, 13}
e1 = s1.pop() = {3, 4, 5, 7, 9, 10, 11, 13}
e1 = 1
s1.clear()= set()